<section class="bg-primary" id="popular">
    <div class="container">
        <h2 class="margin-top-1 margin-bottom-1 text-primary">Discover Movies</h2>
        <div class="col-sm-12 margin-bottom-1" style="margin-bottom: 20px">
            <form id="discover">
                <span class="search_element">
                    <label for="year">Year</label>
                    <select class="form-control" id="year" name="primary_release_year">
                        <option value="0">None</option>
                      
                        <option value="">leuleu</option>

                    </select>
                </span>
                <span class="search_element">
                    <label for="sort_by">Sort By</label>
                    <select class="form-control" id="sort_by" name="sort_by">
                        <option value="popularity.desc" selected="selected">Popularity Descending</option>
                        <option value="popularity.asc">Popularity Ascending</option>
                        <option value="vote_average.desc">Rating Descending</option>
                        <option value="vote_average.asc">Rating Ascending</option>
                        <option value="primary_release_date.desc">Release Date Descending</option>
                        <option value="primary_release_date.asc">Release Date Ascending</option>
                        <option value="title.asc">Title (A-Z)</option>
                        <option value="title.desc">Title (Z-A)</option>
                    </select>
                </span>
                <span class="search_element">
                    <label for="genre">Genre</label>
                    <input class="form-control" id="genre" name="genre" placeholder="Filter by genres...">
                    </input>
                </span>
                <span class="search_element">
                    <label for="keyword">Key Word</label>
                    <input class="form-control" id="keyword" name="keyword" placeholder="Filter by keywords...">
                    </input>
                </span>
            </form>
        </div>

        <div class="col-sm-6 table-bordered movie-item">
            <div class="col-sm-4">
                <img src="/images/rau.png"
                     alt="Rau sach." width="140" height="209">
            </div>
            <div class="col-sm-8">
                <h4><a title="Rau sach."
                       href="">Rau sach.</a></h4>
                <p>
                    <img title="18+" alt="Certificate 18+"
                         src="/images/18.jpg"/>
                    <time>180 mins</time>
                    <span>-</span>
                    Tai lieu hoc tap</p>
                <div class="rating">
                    <% for i in 0..9 do %>
 		    <span>☆</span>
	            <% end %>
                </div>
                <div>&nbsp;10/10</div>
                <p>Phim ve chang trai moi ra pho</p>
                <h5>Director:
                    <a class="text-primary" href="">
                        Tokuda</a></h5>
                <h5>Stars:
                    <a class="text-primary" href="">Wupeii</a>
                    <a class="text-primary" href="">Bui Anh vu</a>
                </h5>
                <a href="" title="Click to add to watchlist" class="btn btn-default">Add to Watchlist</a>
            </div>
        </div>
 	<div class="col-sm-6 table-bordered movie-item">
            <div class="col-sm-4">
                <img src="/images/rau.png"
                     alt="Rau sach." width="140" height="209">
            </div>
            <div class="col-sm-8">
                <h4><a title="Rau sach."
                       href="">Rau sach.</a></h4>
                <p>
                    <img title="18+" alt="Certificate 18+"
                         src="/images/18.jpg"/>
                    <time>180 mins</time>
                    <span>-</span>
                    Tai lieu hoc tap</p>
                <div class="rating">
                    <% for i in 0..9 do %>
 		    <span>☆</span>
	            <% end %>
                </div>
                <div>&nbsp;10/10</div>
                <p>Phim ve chang trai moi ra pho</p>
                <h5>Director:
                    <a class="text-primary" href="">
                        Tokuda</a></h5>
                <h5>Stars:
                    <a class="text-primary" href="">Wupeii</a>
                    <a class="text-primary" href="">Bui Anh vu</a>
                </h5>
                <a href="" title="Click to add to watchlist" class="btn btn-default">Add to Watchlist</a>
            </div>
        </div>
 	<div class="col-sm-6 table-bordered movie-item">
            <div class="col-sm-4">
                <img src="/images/rau.png"
                     alt="Rau sach." width="140" height="209">
            </div>
            <div class="col-sm-8">
                <h4><a title="Rau sach."
                       href="">Rau sach.</a></h4>
                <p>
                    <img title="18+" alt="Certificate 18+"
                         src="/images/18.jpg"/>
                    <time>180 mins</time>
                    <span>-</span>
                    Tai lieu hoc tap</p>
                <div class="rating">
                    <% for i in 0..9 do %>
 		    <span>☆</span>
	            <% end %>
                </div>
                <div>&nbsp;10/10</div>
                <p>Phim ve chang trai moi ra pho</p>
                <h5>Director:
                    <a class="text-primary" href="">
                        Tokuda</a></h5>
                <h5>Stars:
                    <a class="text-primary" href="">Wupeii</a>
                    <a class="text-primary" href="">Bui Anh vu</a>
                </h5>
                <a href="" title="Click to add to watchlist" class="btn btn-default">Add to Watchlist</a>
            </div>
        </div>
	 <div class="col-sm-6 table-bordered movie-item">
            <div class="col-sm-4">
                <img src="/images/rau.png"
                     alt="Rau sach." width="140" height="209">
            </div>
            <div class="col-sm-8">
                <h4><a title="Rau sach."
                       href="">Rau sach.</a></h4>
                <p>
                    <img title="18+" alt="Certificate 18+"
                         src="/images/18.jpg"/>
                    <time>180 mins</time>
                    <span>-</span>
                    Tai lieu hoc tap</p>
                <div class="rating">
                    <% for i in 0..9 do %>
 		    <span>☆</span>
	            <% end %>
                </div>
                <div>&nbsp;10/10</div>
                <p>Phim ve chang trai moi ra pho</p>
                <h5>Director:
                    <a class="text-primary" href="">
                        Tokuda</a></h5>
                <h5>Stars:
                    <a class="text-primary" href="">Wupeii</a>
                    <a class="text-primary" href="">Bui Anh vu</a>
                </h5>
                <a href="" title="Click to add to watchlist" class="btn btn-default">Add to Watchlist</a>
            </div>
        </div>
    </div>
</section>
