<section class="bg-primary" id="popular">
    <div class="container">
        <div class="row">
            <h2 class="margin-top-1 text-primary">On Popular Nowadays</h2>
            <hr class="primary">
            <div class="pop_film">

                <div class="info-first">
                    <a href="">
                        <img src="/images/snowden.png" width="100%">
                    </a>
                    <a class="text" href="">
                        <div class="bottom-left">
                            <h3 class="text">Snowden</h3>
                            <p class="text">
                                Joseph Gordon-Levitt
                            </p></div>
                    </a>
                </div>
 		<div class="info-second">
                    <a href="">
                        <img src="/images/Yasuo1.jpg" height="100%" width="100%">
                    </a>
                    <a class="text" href="">
                        <div class="bottom-left">
                            <h3 class="text">Daxua</h3>
                            <p class="text">
                                Daxua, Ganktem
                            </p></div>
                    </a>
                </div>
 		<div class="info-third">
                    <a href="">
                        <img src="/images/Yasuo2.jpg" height="100%" width="100%">
                    </a>
                    <a class="text" href="">
                        <div class="bottom-left">
                            <h3 class="text">Daxua</h3>
                            <p class="text">
                               Daxua, Ganktem
                            </p></div>
                    </a>
                </div>

            </div>
            <div class="pop_film">

                <div class="info-second">
                    <a href="">
                        <img src="/images/Yasuo1.jpg" height="100%" width="100%">
                    </a>
                    <a class="text" href="">
                        <div class="bottom-left">
                            <h3 class="text">Daxua</h3>
                            <p class="text">
                                Daxua, Ganktem
                            </p></div>
                    </a>
                </div>
		<div class="info-third">
                    <a href="">
                        <img src="/images/Yasuo2.jpg" height="100%" width="100%">
                    </a>
                    <a class="text" href="">
                        <div class="bottom-left">
                            <h3 class="text">Daxua</h3>
                            <p class="text">
                                 Daxua, Ganktem
                            </p></div>
                    </a>
                </div>
  		<div class="info-first">
                    <a href="">
                        <img src="/images/snowden.png" width="100%">
                    </a>
                    <a class="text" href="">
                        <div class="bottom-left">
                            <h3 class="text">Snowden</h3>
                            <p class="text">
                                Joseph Gordon-Levitt
                            </p></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">Up Coming Movies</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 text-center">
                <div class="feature">
                    <a href="">
                        <img src="/images/rau.png" width="300px" height="400px">
                    <h3 class="text">Rau sach.</h3>
                    </a>
                    <a href="">
                        <p class="text-muted">Tokuda</p>
                    </a>

                </div>
            </div>
  	    <div class="col-lg-4 col-md-4 text-center">
                <div class="feature">
                    <a href="">
                        <img src="/images/wupeii.jpg" width="300px" height="400px">
                    <h3 class="text">Rau sach.</h3>
                    </a>
                    <a href="">
                        <p class="text-muted">Tokuda</p>
                    </a>

                </div>
            </div>
 	    <div class="col-lg-4 col-md-4 text-center">
                <div class="feature">
                    <a href="">
                        <img src="/images/wupeii.jpg" width="300px" height="400px">
                    <h3 class="text">Rau sach.</h3>
                    </a>
                    <a href="">
                        <p class="text-muted">Tokuda</p>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>
