<section class="bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="margin-top-1 text-primary">BHTV</h2>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">

                        <div class="alert alert-success">
				LOGGED IN
                        </div>

                        You are logged in!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
