<section class="bg-primary" id="popular">
    <div class="container">
        <h2 class="margin-top-1 margin-bottom-1 text-primary">Top Rated Movies</h2>

      <div class="col-sm-6 table-bordered movie-item">
            <div class="col-sm-4">
                <img src="/images/rau.png"
                     alt="Rau sach." width="140" height="209">
            </div>
            <div class="col-sm-8">
                <h4><a title="Rau sach."
                       href="">Rau sach.</a></h4>
                <p>
                    <img title="18+" alt="Certificate 18+"
                         src="/images/18.jpg"/>
                    <time>180 mins</time>
                    <span>-</span>
                    Tai lieu hoc tap</p>
                <div class="rating">
                    <% for i in 0..9 do %>
 		    <span>☆</span>
	            <% end %>
                </div>
                <div>&nbsp;10/10</div>
                <p>Phim ve chang trai moi ra pho</p>
                <h5>Director:
                    <a class="text-primary" href="">
                        Tokuda</a></h5>
                <h5>Stars:
                    <a class="text-primary" href="">Wupeii</a>
                    <a class="text-primary" href="">Bui Anh vu</a>
                </h5>
                <a href="" title="Click to add to watchlist" class="btn btn-default">Add to Watchlist</a>
            </div>
        </div>
	<div class="col-sm-6 table-bordered movie-item">
            <div class="col-sm-4">
                <img src="/images/rau.png"
                     alt="Rau sach." width="140" height="209">
            </div>
            <div class="col-sm-8">
                <h4><a title="Rau sach."
                       href="">Rau sach.</a></h4>
                <p>
                    <img title="18+" alt="Certificate 18+"
                         src="/images/18.jpg"/>
                    <time>180 mins</time>
                    <span>-</span>
                    Tai lieu hoc tap</p>
                <div class="rating">
                    <% for i in 0..9 do %>
 		    <span>☆</span>
	            <% end %>
                </div>
                <div>&nbsp;10/10</div>
                <p>Phim ve chang trai moi ra pho</p>
                <h5>Director:
                    <a class="text-primary" href="">
                        Tokuda</a></h5>
                <h5>Stars:
                    <a class="text-primary" href="">Wupeii</a>
                    <a class="text-primary" href="">Bui Anh vu</a>
                </h5>
                <a href="" title="Click to add to watchlist" class="btn btn-default">Add to Watchlist</a>
            </div>
        </div>
	<div class="col-sm-6 table-bordered movie-item">
            <div class="col-sm-4">
                <img src="/images/rau.png"
                     alt="Rau sach." width="140" height="209">
            </div>
            <div class="col-sm-8">
                <h4><a title="Rau sach."
                       href="">Rau sach.</a></h4>
                <p>
                    <img title="18+" alt="Certificate 18+"
                         src="/images/18.jpg"/>
                    <time>180 mins</time>
                    <span>-</span>
                    Tai lieu hoc tap</p>
                <div class="rating">
                    <% for i in 0..9 do %>
 		    <span>☆</span>
	            <% end %>
                </div>
                <div>&nbsp;10/10</div>
                <p>Phim ve chang trai moi ra pho</p>
                <h5>Director:
                    <a class="text-primary" href="">
                        Tokuda</a></h5>
                <h5>Stars:
                    <a class="text-primary" href="">Wupeii</a>
                    <a class="text-primary" href="">Bui Anh vu</a>
                </h5>
                <a href="" title="Click to add to watchlist" class="btn btn-default">Add to Watchlist</a>
            </div>
        </div>
	<div class="col-sm-6 table-bordered movie-item">
            <div class="col-sm-4">
                <img src="/images/rau.png"
                     alt="Rau sach." width="140" height="209">
            </div>
            <div class="col-sm-8">
                <h4><a title="Rau sach."
                       href="">Rau sach.</a></h4>
                <p>
                    <img title="18+" alt="Certificate 18+"
                         src="/images/18.jpg"/>
                    <time>180 mins</time>
                    <span>-</span>
                    Tai lieu hoc tap</p>
                <div class="rating">
                    <% for i in 0..9 do %>
 		    <span>☆</span>
	            <% end %>
                </div>
                <div>&nbsp;10/10</div>
                <p>Phim ve chang trai moi ra pho</p>
                <h5>Director:
                    <a class="text-primary" href="">
                        Tokuda</a></h5>
                <h5>Stars:
                    <a class="text-primary" href="">Wupeii</a>
                    <a class="text-primary" href="">Bui Anh vu</a>
                </h5>
                <a href="" title="Click to add to watchlist" class="btn btn-default">Add to Watchlist</a>
            </div>
        </div>
    </div>
</section>


