<link rel="stylesheet" type="text/css" href="/css/search.css">
<header id="first">
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top affix">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><i class="ion-ios-analytics-outline"></i> bhTV</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li class="discover">
                        <a class="page-scroll" href="/static_page/discover">Discover</a>
                        <ul class="sub_menu_discover">
                            <li><a class="page-scroll" href="/static_page/discover">Movies</a></li>
                        </ul>
                    </li>
                    <li class="discover">
                        <a class="page-scroll" href="/static_page/popular">Movies</a>
                        <ul class="sub_menu_discover">
                            <li><a class="page-scroll" href="/static_page/popular">Popular</a></li>
                            <li><a class="page-scroll" href="/static_page/top_rated">Top Rated</a></li>
                            <li><a class="page-scroll" href="/static_page/upcoming">Upcoming</a></li>
                            <li><a class="page-scroll" href="/static_page/now_playing">Now Playing</a></li>

                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll people" href="/static_page/people">People</a>
                    </li>
                </ul>
                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right ml-auto">
                    <!-- Authentication Links -->

                    <li class="discover"><a class="page-scroll" data-toggle="modal" title="Login to your account"
                                            href="/static_page/login">Login</a></li>
                    <li class="discover"><a class="page-scroll" data-toggle="modal"
                                            title="Create a new account for free" href="/static_page/register">Register</a></li>
                </ul>

                <div id="search_bar" style="width: 1000px" class="search_bar">
                    <div class="sub_media">
                        <form id="search_form" action="/search" method="post" accept-charset="utf-8" autocomplete="off">
                            <input id="searchBox" type="text" placeholder="Search for a movie, tv show, person...">
                            <div id = "response"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
